Configuration:
  status: info
  name: KafkaTools
  appenders:
    Console:
      name: stdout
      PatternLayout:
        pattern: "%d{ISO8601} %p %m%n"
  Loggers:
    Root:
      level: {{ getEnv "KAFKA_TOOLS_LOG4J_LOGLEVEL" | default "WARN" }}
      AppenderRef:
        ref: stdout
