log4j.rootLogger={{ getEnv "KAFKA_REST_LOG4J_ROOT_LOGLEVEL" "INFO" }}, stdout

log4j.appender.stdout=org.apache.log4j.ConsoleAppender
log4j.appender.stdout.layout=org.apache.log4j.PatternLayout
log4j.appender.stdout.layout.ConversionPattern=[%d] %p %m (%c)%n

{{ $loggers := getEnv "KAFKA_REST_LOG4J_LOGGERS" "" -}}
{{ range $k, $v := splitToMapDefaults ","  "" $loggers}}
log4j.logger.{{ $k }}={{ $v }}, stdout
{{ end }}
