*	@confluentinc/kafka-eng

server-native @confluentinc/cp-build-and-release-team
examples/cp-server-native @confluentinc/cp-build-and-release-team
.semaphore/	@confluentinc/kafka-eng @confluentinc/cp-build-and-release-team
service.yml	@confluentinc/kafka-eng @confluentinc/cp-build-and-release-team
