<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">
  <localRepository/>
  <interactiveMode/>
  <usePluginRegistry/>
  <offline/>
  <profiles>
    <repositories>
      <repository>
        <id>confluent</id>
        <url>https://packages.confluent.io/maven/io/confluent/common-docker/7.2.0/</url>
      </repository>
    </repositories>
  </profiles>
  <activeProfiles/>
  <pluginGroups/>
</settings>

