{% set excluded_props = ['CONNECT_METRIC_REPORTERS']

{% set connect_props = env_to_props('CONNECT_', '', exclude=excluded_props) -%}
{% for name, value in connect_props.items() -%}
{{name}}={{value}}
{% endfor -%}
